<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="{{site.github.url}}/index.html"><img class = "logo" src="{{site.github.url}}/img/logo1.png"></a>
            <a class="navbar-brand page-scroll" href="{{site.github.url}}/index.html"><img class="mobile_logo" src="img/logo1.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              
                <li>
                  <a class="page-scroll" href="{{site.github.url}}/phones/">Phones</a>
              </li>
                <li>
                    <a class="page-scroll" href="{{site.github.url}}/laptops/">Laptops</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.github.url}}/gadjets/">Gadjets</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.github.url}}/jewelry/">jewelry</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.github.url}}/shoes/">shoes</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.github.url}}/clothes/">Clothes</a>
                </li>
                <li>
                    <a href="#">Bidding</a>
                </li>
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<style>
.logo {
    height: 100px;
    width:320px;
}

.mobile_logo{
    display: none !important;
}
    
@media only screen and (max-width: 767px){

    .mobile_logo{
        display: block !important;
        max-height: 70px !important;
       

    }

    .navbar{
        padding-bottom: 50px !important;
        background-color: #fff;
    }

    .logo{
        display: none !important;
    }

    .navbar-nav{
        padding-top: 40px !important;
    }



}
</style>
